<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.henryzheng.qiushibaike">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".C.main.MainViewPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".C.info.activity.video.VideoInfoActivity">

            <!-- android:logo="@drawable/common_navbar_back_normal" -->
            <!-- android:label="详情" -->
        </activity>
        <activity android:name=".C.info.activity.news.NewsInfoActivity">
        </activity>
        <activity android:name=".C.info.activity.text.TextInfoActivity"/>

    </application>

</manifest>